[Unit]
Description=Unattended upgrade for archlinux
After=network-online.target

[Service]
User=root
Type=simple
ExecStart=/usr/bin/systemd-inhibit /usr/bin/pacroller run
SyslogIdentifier=pacroller
